/* -----------------------------   课件   ----------------------------- */
@charset "utf-8";

/* ------ List ------
 * 课件资源
 * 课件详情
 * 电子书详情
 */

/* ============================= 公用 ============================= */
/* ====== 头 ======*/
.hex-title {
    width: 100%;
    margin-top: 20px;
    display: inline-block;
}

.hex-title h1 {
    float: left;
    line-height: 30px;
}

.hex-title button {
    height: 30px;
    font-size: 12px;
    position: relative;
}

.hex-title button div {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 1px;
    left: 1px;
}

.hex-title button span {
    line-height: 28px;
    padding-left: 30px;
    padding-right: 5px;
}

.hex-title .hex-leftbtn {
    margin-left: 20px;
    float: left;
}

.hex-title .hex-rightbtn {
    float: right;
}

/* ============================= 课件资源 ============================= */
.hex-courseware-res {
}

.hex-courseware-res .hex-button-row {
    margin-top: 20px;
}

.hex-courseware-res .hex-button-row >  *:not(.hex-img-btn) {
    margin-top: 10px;
}

.hex-courseware-res .hex-button-row > .hex-img-btn{
    margin-top: 7px;
}

.hex-courseware-res .hex-button-row > div {
    float: left;
    margin-right: 20px;
}

.hex-courseware-res .hex-courseware-list {
    margin-top: 10px;
}

.hex-courseware-res .hex-button-row .result {
    line-height: 25px;
    font-size: 12px;
}

.hex-courseware-res .hex-button-row .result span:not(.hex-font-orange) {
    color: #858e97;
}

.hex-courseware-res .hex-button-row .result .hex-font-orange {
    margin: 0 3px;
}

.hex-courseware-type-list {
    height: 25px;
    display: block;
}

.hex-courseware-type-list a {
    float: left;
    height: 25px;
    width: 25px;
    margin-right: 2px;
    border-radius: 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #858E97;
}

.hex-courseware-type-list a:hover {
    background-color: #34b27c;
}

.hex-courseware-type-list a.active {
    background-color: #34b27c;
    -moz-box-shadow: 3px 3px 3px #359F73 inset, -3px -3px 3px #359F73 inset; /* For Firefox3.6+ */
    -webkit-box-shadow: 3px 3px 3px #359F73 inset, -3px -3px 3px #359F73 inset; /* For Chrome5+, Safari5+ */
    box-shadow: 3px 3px 3px #359F73 inset, -3px -3px 3px #359F73 inset;
}

.hex-courseware-type-list .all {
    color: #ffffff;
    font-size: 12px;
    line-height: 25px;
    width: 30px;
    text-align: center;
}

.hex-courseware-type-list .video {
    background-image: url("../../icon/courseware_type/video.png");
    background-size: 60%;
}

.hex-courseware-type-list .audio {
    background-image: url("../../icon/courseware_type/audio.png");
    background-size: 40%;
}

.hex-courseware-type-list .flash {
    background-image: url("../../icon/courseware_type/flash.png");
    background-size: 60%;
}

.hex-courseware-type-list .plug-in {
    background-image: url("../../icon/courseware_type/plug-in.png");
    background-size: 60%;
}

.hex-courseware-type-list .picture_single {
    background-image: url("../../icon/courseware_type/picture_single.png");
    background-size: 60%;
}

.hex-courseware-type-list .pictures_more {
    background-image: url("../../icon/courseware_type/pictures_more.png");
    background-size: 60%;
}

.hex-courseware-type-list .thinkingt {
    background-image: url("../../icon/courseware_type/thinkingt.png");
    background-size: 60%;
}

.hex-courseware-type-list .custom {
    background-image: url("../../icon/courseware_type/custom.png");
    background-size: 60%;
}

.hex-courseware-type-list .other {
    background-image: url("../../icon/courseware_type/other.png");
    background-size: 60%;
}

.hex-courseware-type-list .office {
    background-image: url("../../icon/courseware_type/office.png");
    background-size: 60%;
}

/* ============================= 微课程 ============================= */
.hex-course-minitype {
}

.hex-course-minitype .hex-button-row > div {
    float: left;
    margin-right: 20px;
}

.hex-course-minitype .hex-courseware-list {
    margin-top: 10px;
}

.hex-course-minitype .hex-button-row .result {
    line-height: 25px;
    font-size: 12px;
}

.hex-course-minitype .hex-button-row .result span:not(.hex-font-orange) {
    color: #858e97;
}

.hex-course-minitype .hex-button-row .result .hex-font-orange {
    margin: 0 3px;
}

.hex-course-minitype .hex-button-row > *:not(button) {
    margin-top: 2px;
}

/* ============================= 课件详情 ============================= */
.hex-courseware-detail {
    width: 1180px;
    margin: 0 auto;
}

.hex-courseware-detail .hex-info {
    width: 100%;
    margin-top: 20px;
}

.hex-courseware-detail .hex-info h1 {
    width: 100%;
}

.hex-courseware-detail .hex-info div {
    margin-top: 10px;
    width: 100%;
    padding: 20px 10px;
    background: #eaeef1;
    border: 1px solid #d8dde2;
    display: inline-block;
}

.hex-courseware-detail .hex-info div p,
.hex-courseware-detail .hex-info div span,
.hex-courseware-detail .hex-info div a {
    color: #858e97;
}

.hex-courseware-detail .hex-info div h2,
.hex-courseware-detail .hex-info div span,
.hex-courseware-detail .hex-info div a {
    margin-top: 20px;
    float: left;
    height: 20px;
    line-height: 20px;
}

.hex-courseware-detail .hex-comment {
    width: 100%;
    margin-top: 10px;
    border-top: 2px solid #bbc5ce;
}

.hex-courseware-detail .hex-comment .hex-comment-title {
    margin-top: 15px;
}

.hex-courseware-detail .hex-comment .hex-comment-title > span {
    font-size: 12px;
}

.hex-courseware-detail .hex-comment .hex-comment-title span:not(.hex-font-orange) {
    color: #858e97;
}

.hex-courseware-detail .hex-comment .hex-comment-title button {
    float: right;
}

.hex-courseware-detail .hex-comment-bodys {
    border-bottom: 2px solid #bbc5ce;
    min-height: 30px;
}

.hex-courseware-detail .hex-comment-bodys .hex-comment-body {
    display: inline-block;
    width: 100%;
}

.hex-courseware-detail .hex-comment-bodys .hex-comment-body:nth-child(n+2) {
    border-top: 1px solid #dde2e5;
}

.hex-courseware-detail .hex-comment-bodys .hex-comment-body .body {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}

.hex-courseware-detail .hex-comment-bodys .hex-comment-body .body img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    float: left;
}

.hex-courseware-detail .hex-comment-bodys .hex-comment-body .body span,
.hex-courseware-detail .hex-comment-bodys .hex-comment-body .body p {
    width: 94%;
    margin-left: 10px;
    float: right;
}

.hex-courseware-detail .hex-comment-bodys .hex-comment-body .body em {
    color: #858e97;
    font-size: 12px;
}

.hex-courseware-detail .hex-comment-bodys .hex-comment-body .body span {
    color: #454f59;
}

.hex-courseware-detail .hex-comment-bodys .hex-comment-body .body p {
    color: #858e97;
}

.hex-courseware-detail .hex-comment-bodys .hex-comment-body .link {
    float: right;
    margin: 10px 0;
}

.hex-courseware-detail .hex-comment-bodys .hex-comment-body .link a {
    padding: 0 5px;
}

.hex-courseware-detail .hex-comment-bodys .hex-comment-body .link a:nth-child(1) {
    border-right: 1px solid #858e97;
}

.hex-courseware-detail .hex-comment-bodys .hex-comment-body .link a span {
    color: #858e97;
    font-size: 12px;
}

.hex-courseware-detail .hex-comment-bodys .hex-comment-body .link a:hover span {
    color: #a1acb8;
}

.hex-courseware-detail .hex-comment-bodys .hex-comment-body .link a:focus span,
.hex-courseware-detail .hex-comment-bodys .hex-comment-body .link a:active span {
    color: #5c6369;
}

.hex-courseware-detail .hex-comment-button button {
    margin-left: 560px;
    color: #ffffff;
    background: #bcc5cc;
    font-size: 12px;
    width: 60px;
    height: 25px;
    border-radius: 0;
}

.hex-courseware-detail .hex-comment-button button:hover {
    background: #d3dde5;
}

.hex-courseware-detail .hex-comment-button button:focus,
.hex-courseware-detail .hex-comment-button button:active {
    background: #9ca3a9;
}

.hex-courseware-detail .hex-comment-input {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}

.hex-courseware-detail .hex-comment-input img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    float: left;
}

.hex-courseware-detail .hex-comment-input .input {
    float: right;
    width: 94%;
    height: 150px;
    display: inline-block;
}

.hex-courseware-detail .hex-comment-input .input .hex-rich-editor {
    width: 94%;

}

.hex-courseware-detail .hex-comment-input .button {
    width: 100%;
    float: right;
    margin-top: 10px;
}

.hex-courseware-detail .hex-comment-input .button button {
    width: 80px;
    height: 28px;
    float: right;
    color: #858e97;
    font-size: 12px;
}

.hex-courseware-detail .hex-iframe {
    text-align: center;
}

.hex-courseware-detail .hex-iframe iframe {
    width: 799px;
    height: 563px;
    border: none;
}

/* ============================= 电子书详情 ============================= */
.hex-book-content {
    width: 100%;
}

.hex-book-content .hex-title {
    display: inline-block;
}

.hex-book-content .hex-title .img{
    width: 138px;
    height: 139px;
    text-align: center;
}
.hex-book-content .hex-title .img img{
    max-height: 100%;
    max-width: 100%;
}

.hex-book-content .hex-title .img {
    float: left;
}

.hex-book-content .hex-title .info {
    float: left;
    margin-left: 20px;
}

.hex-book-content .hex-title .info > h1 {
    margin-bottom: 20px;
    float: none;
    line-height: 30px;
}

.hex-book-content .hex-title .info div {
    margin-bottom: 5px;
}

.hex-book-content .hex-title .info div h2 {
    float: left;
}

.hex-book-content .hex-title .info div span {
    color: #9aa5b0;
}

.hex-book-content .hex-body .hex-title-line {
    margin: 10px 0;
}

.hex-book-content .hex-body p {
    color: #858e97;
}









