/* -----------------------------   我的上传   ----------------------------- */
@charset "utf-8";

/* ------ List ------
 * 我上传的习题
 * 习题列表
 */

/* ============================= 我上传的习题 ============================= */
.hex-update-question {
}

.hex-update-question .hex-button-row button {
    margin-right: 20px;
}

.hex-update-question .hex-update-question-table {
    padding-top: 10px;
}

.hex-update-question .hex-update-question-table table {
    width: 100%;
}

.hex-update-question .hex-update-question-table table .hex-list-btn {
    width: 96px;
}

.hex-update-question .hex-update-question-table table .hex-list-class:nth-of-type(1){
    width: 200px;
}

.hex-update-question .hex-update-question-table table .hex-list-class span{
    display: inline-block;
}

.hex-update-question .hex-update-question-table table .hex-update-question-enlarge {
    width: 40px;
}

.hex-update-question .hex-update-question-table table .hex-update-question-enlarge div {
    padding: 5px 10px;
}

.hex-update-question .hex-update-question-table table .hex-update-question-info td {
    padding-left: 50px;
    padding-top: 1px;
}

.hex-update-question .hex-update-question-table table .hex-update-question-info td > div {
    background: #f6f8fa;
    overflow: hidden;
    height: 0;
}

.hex-update-question .hex-update-question-table table .hex-update-question-info td > div > div:nth-of-type(1) {
    padding: 20px 20px 6px 20px;
}

.hex-update-question .hex-update-question-table table .hex-update-question-info td > div > div:nth-of-type(2) {
    padding: 6px 20px 20px 20px;
}

.hex-update-question .hex-update-question-table table .hex-update-question-info td > div > div {
    display: inline-block;
    width: 100%;
}

.hex-update-question .hex-update-question-table table .hex-update-question-info td > div > div:nth-of-type(1) > *,
.hex-update-question .hex-update-question-table table .hex-update-question-info td > div > div:nth-of-type(2) h2,
.hex-update-question .hex-update-question-table table .hex-update-question-info td > div > div:nth-of-type(2) span {
    float: left;
    height: 20px;
    line-height: 20px;
}

.hex-update-question .hex-update-question-table table .hex-update-question-info td > div > div:nth-of-type(1) > span {
    margin-right: 15px;
}

.hex-update-question .hex-update-question-table table .hex-update-question-info td > div > div:nth-of-type(2) {
    position: relative;
}

.hex-update-question .hex-update-question-table table .hex-update-question-info td > div > div:nth-of-type(2) > h2 {
    position: absolute;
    top: 5px;
    left: 20px;
}

.hex-update-question .hex-update-question-table table .hex-update-question-info td > div > div:nth-of-type(2) > div {
    padding-left: 70px;
    display: inline-block;
}

.hex-update-question .hex-update-question-table table .hex-update-question-info td > div > div:nth-of-type(2) > div > span {
    width: 48%;
    display: inline-block;
}

/* ============================= 习题列表 ============================= */
.hex-update-question-list > div {
    width: 100%;
    display: inline-block;
}

.hex-update-question-list .title {
    margin-top: 30px;
}

.hex-update-question-list .title > * {
    float: left;
    line-height: 30px;
}

.hex-update-question-list .title > h1 {
    margin-right: 20px;
}

.hex-update-question-list .body {
    margin-top: 20px;
}

.hex-update-question-list .body .body-first {
    border-bottom: 2px solid #c1c9d1;
    padding-bottom: 10px;
}

.hex-update-question-list .body .body-first .select {
    border: 1px solid #e5e9ed;
}

.hex-update-question-list .body .body-first .select .select-search {
    height: 45px;
    line-height: 45px;
    padding-left: 15px;
    border-bottom: 1px solid #e5e9ed;
}

.hex-update-question-list .body .body-first .select .select-search .hex-search {
    width: 230px;
}

.hex-update-question-list .body .body-first .select .select-check {
    padding: 0 15px;
}

.hex-update-question-list .body .body-first .select .select-check > div {
    display: inline-block;
    line-height: 45px;
}

.hex-update-question-list .body .body-first .select .select-check > div:nth-of-type(1) {
    border-bottom: 1px dotted #e5e9ed;
}

.hex-update-question-list .body .body-first .select .select-check > div > * {
    float: left;
    height: 45px;
    line-height: 45px;
}

.hex-update-question-list .body .body-first .select .select-check > div label {
    margin-right: 15px;
    width: auto;
    min-width: inherit;
}

.hex-update-question-list .body .body-first .select .select-check > div input[type='checkbox'] {
    margin-right: 10px;
}

.hex-update-question-list .body .body-second {
    padding: 20px 0;
}

.hex-update-question-list .body .body-second > div {
    width: 100%;
    display: inline-block;
}

.hex-update-question-list .body .body-second > div:nth-of-type(1) > * {
    float: left;
    height: 30px;
    line-height: 30px;
}

.hex-update-question-list .body .body-second > div:nth-of-type(1) label {
    margin-right: 40px;
    width: auto;
    min-width: inherit;
}

.hex-update-question-list .body .body-second > div:nth-of-type(1) input[type='checkbox'] {
    margin-right: 10px;
}

.hex-update-question-list .body .body-second > div:nth-of-type(1) button {
    margin-right: 20px;
}

.hex-update-question-list .body .body-second > div:nth-of-type(1) span.hex-font-orange {
    margin: 0 5px;
}

.hex-update-question-list .body .body-second > div > .hex-row-list {
    width: 100%;
    margin-top: 10px;
}

.hex-update-question-list .body .body-second > div > .hex-row-list td{
    text-align: center;
}

.hex-update-question-list .body .body-second > div > .hex-row-list .hex-update-table-num{
    width: 50px;
}

.hex-update-question-list .body .body-second > div > .hex-row-list .hex-update-table-type{
    width: 95px;
}
.hex-update-question-list .body .body-second > div > .hex-row-list .hex-update-table-hard{
    width: 110px;
}
.hex-update-question-list .body .body-second > div > .hex-row-list .hex-update-table-key{
    width: 100px;
}

.hex-update-question-list .body .body-second > div > .hex-row-list .hex-update-table-key span{
    width: 80px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.hex-update-question-list .body .body-second > div > .hex-row-list .hex-update-table-state{
    width: 80px;
}
.hex-update-question-list .body .body-second > div > .hex-row-list .hex-list-btn_3{
    width: 95px;
}

.hex-update-question-list .body .body-second > div > .hex-row-list .hex-update-table-question{
    position: relative;
}
.hex-update-question-list .body .body-second > div > .hex-row-list .hex-update-table-question>div{
    position: absolute;
    left: 0;
    top: -5px;
    height: 40px;
    text-align: left;
}

.hex-update-question-list .body .body-second > div > .hex-row-list .hex-update-table-question>div a{
    line-height: 20px;
}

.hex-update-question-list .body .body-second > div > .hex-row-list .hex-update-table-question>div a:hover{
    font-weight: 600;
    color: #454f59;
}












































